@import "../helpers/variables.scss";

.main__footer{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.footer__nav__item{
  display: inline-block;
}

.footer__nav__link{
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1rem;
  color:$prim_color;
}

.footer__nav__link:hover{
  color:$sec_color;
}

.footer__nav__link--twitter:hover{
    background:#1da1f2;
}
.footer__nav__link--facebook:hover{
    background:#3b5998;
}
.footer__nav__link--behance:hover{
    background:$prim_color;
}
