@import "../helpers/variables.scss";
.main__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.container {
    display: inline-block;
    width: 100%;
    padding: 0 2rem;
}
@media screen and (min-width:34em) {
    .container {
        padding: 0 4rem;
    }
}
@media screen and (min-width:48em) {
    .container {
        padding: 0 6rem;
    }
}
@media screen and (min-width:62em) {
    .container {
        padding: 0 8rem;
    }
}
@media screen and (min-width:76em) {
    .container {
        padding: 0 10rem;
    }
}

.section {
    padding: 2rem 0;
    width: 100%;
    min-height: 100vh;
    display: inline-block;
}
.section--about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $bg_color1;
    text-align: center;
}
.section--about h1 {
    font-size: 3rem;
    font-weight: 600;
}
.section--work {
    background: $bg_color2;
}
.work__portfolio {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.portfolio__item {
    display: inline-block;
    margin: 0.5rem;
    width: calc(100% / 2 - 1rem);
    background: $sec_color;
    border-radius: .75rem;
}

.section--mail {
  display: flex;
 flex-direction: column;
 justify-content: center;
    background: $bg_color3;
}

@media screen and (min-width:34rem) {
    .portfolio__item {
  width: calc(100% / 3 - 1rem);
    }
}
@media screen and (min-width:48rem) {
    .portfolio__item {
  width: calc(100% / 4 - 1rem);
    }
}
@media screen and (min-width:62rem) {
    .portfolio__item {
  width: calc(100% / 5 - 1rem);
    }
}
@media screen and (min-width:76rem) {
    .portfolio__item {
  width: calc(100% / 6 - 1rem);
    }
}

.section--work h2 {
    font-size: 2rem;
    text-align: center;
}
.section--mail h2 {
    font-size: 2rem;
    text-align: center;
}
@media screen and (min-width:34em) {
    .section {
        padding: 4rem 0;
    }
}
@media screen and (min-width:48em) {
    .section {
        padding: 6rem 0;
    }
}
@media screen and (min-width:62em) {
    .section {
        padding: 8rem 0;
    }
}
@media screen and (min-width:76em) {
    .section {
        padding: 10rem 0;
    }
}
