@import "../helpers/variables.scss";
.main__header {
    width: 100%;
    position: fixed;
    background: #fff;
}
.main__nav {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
.main__nav__navbar {
    width: 100%;
    display: inline-block;
}
.main__nav__item {
    display: inline-block;
    float: right;
}
.main__nav__item--logo {
    float: left;
}

.main__nav__link {
    color: $prim_color;
    display: inline-block;
    padding: 1rem;
    float: inherit;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
}
.main__nav__link:hover {
    border-bottom: 0.15rem inset $prim_color;
    padding-bottom: 0.85rem;
}

.main__nav__link--logo:hover {
      padding: 1rem;
      border: 0;
}
